<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Page not found. Go to <a href="/todos">/todos</a></p>
    </NotFound>
</Router>
